* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 26px 60px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left, nav, .right {
        display: flex;
        gap: 15px;
        align-items: center;

        .round {
            width: 28px;
            height: 28px;
            background-color: #C4C4C4;
            border-radius: 100%;
            &:last-child {
                width: 50px;
                height: 50px;
            }
            &:hover {
                background-color: red;
            }
        }
    }
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    .boxUp{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 10px;

        .pay_add{
            width: 100px;
            padding: 10px;
            border-radius: 12px;
            border: none;
            background: #0047FF;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                background: #fff;
                color: #0047FF;
                border: 1px solid #0047FF;
            }
        }
    }
    table{
        width: 100%;
        display: table;
        padding: 10px;
        thead{
            th{
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                padding: 15px 0;
                color: #C2C8D7;
            }
        }
        tbody{
            td{
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                padding: 10px 0;
            }
        }
    }
}

   
