* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
}

.greeding {
    margin: 44px 0 74px;

    .welcome {
        font-size: 48px;
        margin-bottom: 11px;
    }

    .email {
        font-size: 18px;
        font-weight: 700;
        color: #0047FF;
    }
}

.wallets {
    display: flex;
    flex-direction: column;
    gap: 21px;

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    .walletsList {
        display: flex;
        gap: 24px;
        align-items: center;
        flex-wrap: wrap;

        .wallet {
            padding: 19px 23px;
            width: 282px;
            height: 160px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            color: white;

            .type {
                font-size: 24px;
                font-weight: 500;
            }

            .currency {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    .more {
        text-decoration: underline;
        color: #0047FF;
        font-weight: 600;
        cursor: pointer;
    }
}
.transactions {
    margin: 74px 0;

    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 32px;
    }

    table {
        width: 100%;

        th{
            color: #B9C0D1;
        }

        td {
            font-size: 14px;
            font-weight: 500;
            padding: 12px 0;
            border-bottom: 1px solid #B9C0D1;
        }

    }

    .more {
        text-decoration: underline;
        color: #0047FF;
        font-weight: 600;
        cursor: pointer;
        margin-top: 21px;
    }
}
.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    .boxUp{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 10px;

        .pay_add{
            width: 100px;
            padding: 10px;
            border-radius: 12px;
            border: none;
            background: #0047FF;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                background: #fff;
                color: #0047FF;
                border: 1px solid #0047FF;
            }
        }
    }
    table{
        width: 100%;
        display: table;
        padding: 10px;
        thead{
            th{
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                padding: 15px 0;
                color: #C2C8D7;
            }
        }
        tbody{
            td{
                text-align: left;
                border-bottom: 1px solid #f0f0f0;
                padding: 10px 0;
            }
        }
    }
}