* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: #f0f0f0;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    align-items: center;

    .header_flex {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;

        .flex_left,
        .flex_right {
            a {
                text-decoration: none;
                align-items: center;
                text-align: center;
                color: black;
                margin-right: 15px;
            }
        }

        .right_img {
            width: 20px;
            height: 20px;
            margin-bottom: -5px;
            align-items: center;
            text-align: center;
        }

    }
}