
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        center{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 195px;
        }
        .wallet{
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
        .wallet input{
            width: 315px;
            height: 37px;
            border-radius: 10px;
            border: 1.5px solid gray;
            padding: 3px;
            padding-left: 10px;
            outline: none;
            margin-top: 15px;
        }
        .wallet select {
            width: 315px;
            height: 37px;
            border-radius: 10px;
            border: 1.5px solid gray;
            padding: 4px;
            padding-left: 10px;
            outline: none;
        }
        button {
            width: 315px;
            height: 40px;
            background: #0047FF;
            border-radius: 10px;
            color:  #FFFFFF;
            border: none;
        }
        
        button a{
         font-weight: 550;
        list-style: none;
        color: #FFFFFF;
        text-decoration: none;  
    }
    h1{
        font-size: 32px;
        font-weight: 600;
        font-family:'Times New Roman', Times, serif;
    }
    option{
        font-size: 15px;
        font-weight: 600;
        font-family:'Times New Roman', Times, serif;
        background: gainsboro;
        color: #FFFFFF;
       }

    
    .main{
        width:100%;
        height: 100%;
        position: fixed;
        top: 0;
        backdrop-filter: blur(50px);
        right: 10px;
        z-index: 100;
        transition: 6s;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
     .animation{  
        width: 50px;
        height:50px    ;
        position: relative;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
        width: 300px;
        height: 300px; backdrop-filter: blur(10px);
        border-radius:100px 100px 100px 100px ;
       
    }
    .loader {
        width: 75px;
        height: 75px;
        border:7px solid rgba(235, 238, 242, 0.6);
        border-radius: 50%;
        border-left-color:rgb(16, 4, 4);
        animation: loader 1.3s linear infinite;
    }
    @keyframes loader {
        100% {
            transform: rotate(360deg);
        }
    }
     .hide{
        opacity: 0;
    
     }
